C/Example/.vs
C/Example/.vscode
C/Example/Debug
C/Example/Example/Debug

C/Practice/.vs
C/Practice/.vscode
C/Practice/Debug
C/Practice/Practice/Debug

C#/Example/.vs
C#/Example/.vscode
C#/Example/Example/bin
C#/Example/Example/obj

C++/Example/.vs
C++/Example/.vscode
C++/Example/Debug
C++/Example/Example/Debug

WinAPI/Example/.vs
WinAPI/Example/.vscode
WinAPI/Example/Debug
WinAPI/Example/Example/Debug