C/Example/.vs
C/Example/.vscode
C/Example/Debug
C/Example/Example/Debug

C#/Example/.vs
C#/Example/.vscode
C#/Example/Example/bin
C#/Example/Example/obj

C++/Example/.vs
C++/Example/.vscode
C++/Example/Debug
C++/Example/Example/Debug